# 컴퓨터학부 2020117066 김재홍
## Lab문제

### Lab 4-1

In [2]:
# 1. 함수 호출문을 제거하면 만들어둔 함수를 사용하지 않는데

# 2

def print_Star():
    print("********************")
    
print_Star()
print_Star()
print_Star()
print_Star()
print_Star()
print_Star()

********************
********************
********************
********************
********************
********************

### Lab 4-2

In [3]:
def print_star5():
    print('*********************')
    print('*********************')
    print('*********************')
    print('*********************')
    print('*********************')
    
    
print_star5()
print_star5()

*********************
*********************
*********************
*********************
*********************
*********************
*********************
*********************
*********************
*********************

### Lab 4-3

In [4]:
def print_star():
    print('*********************')

def print_plus():
    print('+++++++++++++++++++++')
    
def print_hash():
    print('#####################')
    
print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

#####################
*********************
+++++++++++++++++++++
+++++++++++++++++++++
*********************
#####################

#### Lab 4-4

In [5]:
#1

def print_star(n):
    for _ in range(n):
        print('********************')
        
print_star(10)

********************
********************
********************
********************
********************
********************
********************
********************
********************
********************

In [6]:
#2
def print_hash(n):
    for _ in range(n):
        print('####################')
        
print_hash(10)

####################
####################
####################
####################
####################
####################
####################
####################
####################
####################

In [7]:
#3
print_hash(6)

####################
####################
####################
####################
####################
####################

In [8]:
#4

def print_hash(n):
    for i in range(n):
        print('{} ####################'.format(i))
        
print_hash(6)

0 ####################
1 ####################
2 ####################
3 ####################
4 ####################
5 ####################

### Lab 4-5

In [11]:
#1 

def print_sub(a, b):
    print('{}과 {}의 차는 {}입니다. '.format(a, b, a-b))

print_sub(10, 20)

10과 20의 차는 -10입니다.

In [12]:
#2

def print_mult(a, b):
    print('{}과 {}의 곱는 {}입니다. '.format(a, b, a*b))


print_mult(10, 20)

10과 20의 곱는 200입니다.

### Lab 4-6

In [13]:
#1

def print_root(a, b, c):
    r1 = (-b + (b**2 -4*a*c)**0.5)/(2*a)
    r2 = (-b - (b**2 -4*a*c)**0.5)/(2*a)
    print('해는',r1,'또는',r2)
    
#(1)
print_root(1,4,-21)
#(2)
print_root(1,-6,8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

In [28]:
#2

def print_area(width, height):
    print('밑변 {}, 높이 {}인 삼각형의 면적은 {}'.format(width, height, width*height//2))
    
print_area(10,20)

밑변 10, 높이 20인 삼각형의 면적은 100

### Lab 4-7

In [35]:
def circle_area_circum(radius):
    area_ = radius**2*3.14
    circum_ = radius*2*3.14
    return area_, circum_

radius = 10
area, circum = circle_area_circum(radius)
print('반지름 {}인 원의 면적은 {}, 원의 둘레는 {:.1f}'.format(radius, area, circum))

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.8

### Lab 4-8

In [42]:
def multiplies(n,m):
    result = []
    for i in range(1, m+1):
        result.append(i*n)
    
    return result
    
r1, r2, r3, r4 = multiplies(3,4)
print(r1, r2, r3, r4)

3 6 9 12

### Lab 4-9

In [2]:
#1 

def print_name(honorifics, first_name, last_name):
    print(honorifics, first_name, last_name)

#Dr. Gildong Hong
print_name(first_name='Gildong', last_name='Hong', honorifics='Dr.')

#Gildong Hong Dr.
print_name('Gildong', 'Hong', 'Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

### Lab 4-10

In [8]:
#1

def sum_nums(*numbers):
    sum_ = 0
    for n in numbers:
        sum_ += n
    print('{} 개의 인자 {}'.format(len(numbers),numbers))
    print('합계 : {}, 평균 : {}'.format(sum_, sum_/len(numbers)))

sum_nums(10, 20, 30)

3 개의 인자 (10, 20, 30)
합계 : 60, 평균 : 20.0

In [10]:
#2

def min_nums(*numbers):
    min = numbers[0]
    for i in numbers:
        if i < min:
            min = i
    print('최솟값은 {}'.format(min))

min_nums(20, 10, 30, 40)

최솟값은 10

### Lab 4-11

In [13]:
name = input("당신의 이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
job = input("직업을 입력해주세요 : ")
home = input("사는 곳을 입력해 주세요 : ")
print("당신의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.".format(name, age, job, home))
print("당신의 이름은",name, ", 나이는",age, "살, 직업은", job, ", 사는 곳은", home,"입니다.")

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해 주세요 : 창원시
당신의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.
당신의 이름은 김철수 , 나이는 21 살, 직업은 학생 , 사는 곳은 창원시 입니다.

### Lab 4-12

In [14]:
#1

'_'.join('ABCD')

'A_B_C_D'

In [17]:
#2

s = 'My favorite thing is monsters.'
t = s.replace('monsters','cartoons')

print(t)

My facorite thing is cartoons.