# 2020117066 김재홍

## Chapter7 Lap problem

### Lab 7-1

In [14]:
import datetime as dt

today = dt.datetime.now()
today = today.replace(year = 2019, month = 2, day = 19, hour = 18, minute = 50, second = 11)

hour_int = int(today.hour)
option_hour = '오전'
if hour_int >= 12:
    option_hour = '오후'
    if hour_int >= 13:
        hour_int -= 12

print("오늘의 날짜 : {}년 {}월 {}일".format(today.year, today.month, today.day))

print("현재시간 : {} {}시 {}분 {}초".format(option_hour, hour_int, today.minute, today.second))

오늘의 날짜 : 2019년 2월 19일
현재시간 : 오후 6시 50분 11초

### Lab 7-2

In [18]:
#1

import datetime as dt

today = dt.datetime.now()
chirstmas25 = dt.datetime(2025, 12, 25)

time_gap = chirstmas25 - today

print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day)) 
print('2025년 크리스마스 까지는 {}일 {}시간 남았습니다.'.format( \
time_gap.days,time_gap.seconds // 3600))

오늘은 2022년 10월 17일입니다
2025년 크리스마스 까지는 1164일 5시간 남았습니다.

In [19]:
#2

import datetime as dt

today = dt.datetime.now()
day2036 = dt.datetime(2036, 1, 1)

time_gap = day2036 - today
print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day)) 
print('2036년 새해 까지는 {}일 {}시간 남았습니다.'.format( \
time_gap.days,time_gap.seconds // 3600))

오늘은 2022년 10월 17일입니다
2036년 새해 까지는 4823일 5시간 남았습니다.

In [21]:
#3

import datetime as dt

today = dt.datetime.now()
next_mybirthday = dt.datetime(2022, 10, 28)

time_gap = next_mybirthday - today
print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day)) 
print('2022년 생일 까지는 {}일 {}시간 남았습니다.'.format( \
time_gap.days,time_gap.seconds // 3600))

오늘은 2022년 10월 17일입니다
2022년 생일 까지는 10일 5시간 남았습니다.

### Lab 7-3

In [24]:
#1

import datetime as dt

today = dt.datetime.now()
thousand = dt.timedelta(days = 1000)

after_thousand = today + thousand
print("오늘부터 1000일 후는 {}년 {}월 {}일 입니다.".format(after_thousand.year , after_thousand.month, after_thousand.day))

오늘부터 1000일 후는 2025년 7월 13일 입니다.

In [30]:
#2

import datetime as dt

l_year, l_month, l_day = map(int,(input("처음 사귄 연도와 월, 일을 입력하시오 :")).split())

start_day = dt.datetime(l_year, l_month, l_day)
hundred = dt.timedelta(days = 99)

after_hund = start_day + hundred
print("100일 기념일은 : {}년 {}월 {}일 입니다.".format(after_hund.year, after_hund.month, after_hund.day))

처음 사귄 연도와 월, 일을 입력하시오 :2019 3 30
100일 기념일은 : 2019년 7월 7일 입니다.

### Lab 7-4

In [38]:
#1

import math as m

for i in range(2,11):
    print("4** {:2} = {:>9.1f}".format(i, m.pow(4,i)))

4**  2 =      16.0
4**  3 =      64.0
4**  4 =     256.0
4**  5 =    1024.0
4**  6 =    4096.0
4**  7 =   16384.0
4**  8 =   65536.0
4**  9 =  262144.0
4** 10 = 1048576.0

In [39]:
#2

import math as m

for i in range(0, 190, 10):
    print("{:3} degree = {:5.3f} radian".format(i, m.radians(i)))

  0 degree = 0.000 radian
 10 degree = 0.175 radian
 20 degree = 0.349 radian
 30 degree = 0.524 radian
 40 degree = 0.698 radian
 50 degree = 0.873 radian
 60 degree = 1.047 radian
 70 degree = 1.222 radian
 80 degree = 1.396 radian
 90 degree = 1.571 radian
100 degree = 1.745 radian
110 degree = 1.920 radian
120 degree = 2.094 radian
130 degree = 2.269 radian
140 degree = 2.443 radian
150 degree = 2.618 radian
160 degree = 2.793 radian
170 degree = 2.967 radian
180 degree = 3.142 radian

In [41]:
#3

import math as m

for i in range(0, 190, 10):
    print("sin({:4}) = {:4.2f}".format(i, m.sin(m.radians(i))))

sin(   0) = 0.00
sin(  10) = 0.17
sin(  20) = 0.34
sin(  30) = 0.50
sin(  40) = 0.64
sin(  50) = 0.77
sin(  60) = 0.87
sin(  70) = 0.94
sin(  80) = 0.98
sin(  90) = 1.00
sin( 100) = 0.98
sin( 110) = 0.94
sin( 120) = 0.87
sin( 130) = 0.77
sin( 140) = 0.64
sin( 150) = 0.50
sin( 160) = 0.34
sin( 170) = 0.17
sin( 180) = 0.00

### Lab 7-5

In [17]:
#1

import random as rd

num_list = []
for _ in range(3):
    num = rd.randrange(0,100,5)
    num_list.append(num)

print(num_list)

[75, 20, 70]

In [19]:
#2

num_list = [2,3,4,5,6,7,8,9]
num = rd.sample(num_list,3)
    
print(num)

[9, 7, 3]