
# Lab 3-1     2020117066 김재홍

In [2]:
#1
score = int(input("game_score = "))

print("game_score =", score)
if score >= 1000 :
    print("당신은 고수입니다.")

game_score = 1
game_score = 1

In [3]:
#Lab 3-1
#2
num_a = int(input("num_a ="))
num_b = int(input("num_b ="))

print("num_a = {}, num_b = {}".format(num_a, num_b))
if num_a == num_b:
    print("두 값이 일치합니다.")

num_a =2
num_b =2
num_a = 2, num_b = 2
두 값이 일치합니다.

# Lab 3-2

In [4]:
#1
num = int(input("정수를 입력하세요 : "))

'''num이 범위 밖인 경우 다시 입력'''
while num >= 100 or num <= 1:
    print("1에서 100사이의 정수를 입력하세요.")
    num = int(input("정수를 입력하세요 : "))

print("n = {}".format(num))
if num %2 == 0 :
    print("{} 은(는) 짝수입니다.".format(num))

정수를 입력하세요 : 2
n = 2
2 은(는) 짝수입니다.

In [5]:
#2
num = int(input("정수를 입력하세요 : "))

'''num이 범위 밖인 경우 다시 입력'''
while num >= 100 or num <= -100:
    print("-100에서 100사이의 정수를 입력하세요.")
    num = int(input("정수를 입력하세요 : "))
    
print("x = {}".format(num))
if num > 0 :
    print("{}는 자연수입니다.".format(num))

정수를 입력하세요 : 2
x = 2
2는 자연수입니다.

# Lab 3-3

In [6]:
#1
score = int(input("game_score = "))

print("game_score =", score)
if score >= 1000 :
    print("고수입니다.") 
else :
    print("입문자입니다.")

game_score = 100
game_score = 100
입문자입니다.

In [8]:
#2
num_a = int(input("한 정수를 입력하시오 : "))
num_b = int(input("다른 정수를 입력하시오 : "))

if num_a == num_b:
    print("두 값이 일치합니다.")
else:
    print("두 값이 일치하지 않습니다.")

한 정수를 입력하시오 : 1
다른 정수를 입력하시오 : 2
두 값이 일치하지 않습니다.

In [20]:
#3
age = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0)"))
if age == 0: 
    print("당신은 미성년자입니다.")

else:
    marriage = int(input("결혼을 하셨나요(기혼이면 1, 미혼이면0)"))
    if marriage == 0:
        print("당신은 결혼하지 않은 성인입니다.")
    else:
        print("당신은 결혼한 성인입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0)1
결혼을 하셨나요(기혼이면 1, 미혼이면0)1
당신은 결혼한 성인입니다.

# Lab 3-4

### 1. and 연산자를 사용하여 num변수가 1과 10사이의 값을 가지면 True를 출력하는 부울식을 완성하여라.

### 2. and연산자를 사용하여 age가 10보다 크고 19보다 작으면 '청소년입니다.'를 출력하는 부울식을 작성하여라.

In [1]:
#1

num = int(input("num = "))
if num > 1 and num < 10 :
    print("True")

num = 2
True

In [3]:
#2

age = int(input("age ="))
if age > 10 and age < 19:
    print("청소년입니다.")

age = 12

청소년입니다.

# Lab 3-5

### 1. 사용자로부터 자동차의속도(speed)를 km/h 단위의 정수로 입력받도록 하자. 자동차의 속도가 100km/h 이상이면 '고속', 100km/h 미만 60km/h 이상이면 '중속', 60km/h 미만이면 '저속'을 출력하는 프로그램을 if-elif-else 문을 이용하여 작성하여라.

### 2. 미세먼지 농도 예보 기준이 다음과 같을 때 미세먼지 농도를 정수 값으로 입력받아 '좋음', '보통', '나쁨', '매우 나쁨'을 출력하는 코드를 작성하여라. 좋음 0~15, 보통 16~35, 나쁨 36~75, 매우 나쁨 76이상

In [8]:
#1

speed = int(input("자동차의 속도를 입력하세요(단위: km/h)"))

if speed >= 100: 
    print("고속")
elif speed >= 60:
    print("중속")
else:
    print("저속")

자동차의 속도를 입력하세요(단위: km/h)100
고속

In [9]:
#2

dense = int(input("미세먼지 농도를 입력하세요(단위: microgram/m^3)"))

if dense >= 76 :
    print("매우 나쁨")
elif dense >= 36 :
    print("나쁨")
elif dense >= 16 :
    print("보통")
elif dense >= 0 :
    print("좋음")

미세먼지 농도를 입력하세요(단위: microgram/m^3)22
보통

# Lab 3-6 

### 1. for 반복문에서 언더스코어 루프 제어변수를 사용하여 Hello, Python을 5번 출력하는 프로그램을 작성해보자.
### 2. i라는 루프변수를 사용해서 0에서 4까지의 정수를 출력하는 프로그램을 작성하시오.

In [10]:
#1

for _ in range(5) :
    print("Hello, Python")

Hello, Python
Hello, Python
Hello, Python
Hello, Python
Hello, Python

In [12]:
#2

for i in range(5) :
    print(i)

0
1
2
3
4

# Lab 3-7

### 1. range() 함수와 list() 함수를 사용하여 1이상 100이하의 자연수 리스트를 다음과 같이 만드시오. [1, 2, 3, 4, (생략), 100]

### 2. 1이상 100 이하의 짝수 리스트를 만드시오.

### 3. 1이상 100 이하의 홀수 리스트를 만드시오.

### 4. -100보다 크고 0보다 작은 음수 리스트를 만드시오.

In [14]:
#1.

list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [15]:
#2

list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [16]:
#3.

list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [17]:
#4.

list(range(-100,0))

[-100,
 -99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

# Lab 3-8

### 1. 누적 덧셈을 응용하여 1에서 100까지의 정수의 합을 구하여 출력하여라

### 2. range() 함수의 step 값을 이용하여 1에서 100까지 정수 중에서 짝수의 합을 구하여 출력하여라.

### 3. range() 함수의 step 값을 이용하여 1에서 100까지 정수 중에서 홀수의 합을 구하여 출력하여라.

In [19]:
#1. 

sum = 0
for i in range(1,101):
    sum += i
    
print(sum)

5050

In [20]:
#2.

sum = 0
for i in range(2, 101, 2):
    sum += i

print(sum)

2550

In [21]:
#3.

sum = 0
for i in range(1, 100, 2):
    sum += i

print(sum)

2500

# Lab 3-9

### 1. 이중 for 루프를 이용하여 다음과 같은 패턴을 출력하여라.

          #
         #
        #
       #
      #
     #
    #

In [22]:
for i in range(7,0,-1) :
    print(' '*i + '#')

       #
      #
     #
    #
   #
  #
 #