### lamda_add

In [1]:
add = lambda x, y: x + y
print('100과 200의 합 :', add(100, 200))

100과 200의 합 : 300

In [2]:
print('100과 200의 합 :', (lambda x, y: x + y)(100, 200))

100과 200의 합 : 300

### filter function

In [3]:
def adult_fun(n):
    if n >= 19:
        return True
    else :
        return False
    
ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트 :')

for a in filter(adult_fun, ages):
    print(a, end=' ')

성년 리스트 :
34 39 20 54

In [5]:
ages = [34, 39, 20, 18, 13, 54]

print('성년 리스트 :')
for a in filter(lambda x: x >= 19, ages):
    print(a, end=' ')

성년 리스트 :
34 39 20 54

### Even number filter

In [11]:
list_ = []
for i in range(1, 101):
    list_.append(i)
    
print('1에서 100까지의 숫자 중 짝수는 :')
for a in filter(lambda x: x%2 == 0, list_):
    print(a, end= ' ')

1에서 100까지의 숫자 중 짝수는 :
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### Minus filter

In [ ]:
def minus_func(n):
    if n < 0 :
        return True
    else :
        return False
    
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []     

for n in filter(minus_func, n_list):
    minus_list.append(n)
print('음수 리스트 :', minus_list)

### map function

In [16]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = []

for n in a:
    square_a.append(n**2)

print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [18]:
a = [1, 2, 3, 4, 5, 6, 7]

square_a = list(map(lambda x: x**2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

### reduce function

In [21]:
from functools import reduce

a = []
for i in range(1, 101):
    a.append(i)

n = reduce(lambda x, y: x + y, a)
print(n)

5050

### list comprehension

In [22]:
a = [1, 2, 3, 4, 5, 6, 7]
a = list(map(lambda x: x**2, a))
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [23]:
a = [1, 2, 3, 4, 5, 6, 7]
a = [x**2 for x in a]
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [25]:
a = [x**2 for x in range(1,8)]
print(a)

[1, 4, 9, 16, 25, 36, 49]

In [26]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [29]:
s = input('정수 5개를 입력하세요').split()
lst = [int(x) for x in s]
print(lst)

정수 5개를 입력하세요1 2 3 4 555
[1, 2, 3, 4, 555]

In [30]:
lst = [int(x) for x in input('정수 5개를 입력하세요.').split()]
print(lst)

정수 5개를 입력하세요.2 4 56 6 777
[2, 4, 56, 6, 777]

In [32]:
product_xy = [x * y for x in [1, 2, 3] for y in [2, 4, 6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

### 반복자 클래스 생성

In [36]:
class OddCounter:
    def __init__(self, n = 1):
        self.n = n
        
    def __iter__(self):
        return self
    
    def __next__(self):
        t = self.n
        self.n += 2
        return t
    
my_counter = OddCounter()
print(next(my_counter))
print(my_counter.__next__())
print(my_counter.__next__())
print(my_counter.__next__())

1
3
5
7

In [40]:
class OddCounter:
    def __init__(self, n = 1):
        self.n = n
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.n < 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration
    

my_counter = OddCounter()
for x in my_counter:        
    print(x, end=' ')

1 3 5 7 9 11 13 15 17 19

### all, any, bool 함수

In [44]:
l1 = [1, 2, 3, 4]
l2 = [0, 2, 4, 8]
l3 = [0, 0, 0 ,0]

print(all(l1))
print(all(l2))
print(all(l3))

print(any(l1))
print(any(l2))
print(any(l3))

print(bool(l1))
print(bool(l2))
print(bool(l3))

True
False
False
True
True
False
True
True
True