# 4주차 Chapter5,6 Lab 문제풀기

## 2020117066 김재홍

### Lab 5-1

In [18]:
#1 

even_list=[2, 4, 6, 8, 10]
        
print("even_list = {}".format(even_list))

even_list = [2, 4, 6, 8, 10]

In [15]:
#2

even_list=[]

for i in range(1,11):
    if i%2 == 0:             #2로 나누어 떨어지면 짝수
        even_list.append(i) 
        
        
print("even_list = {}".format(even_list))

[2, 4, 6, 8, 10]

In [19]:
#3

nations = ['Korea', 'China', 'India', 'Nepal']

print("nations = {}".format(nations))

nations = ['Korea', 'China', 'India', 'Nepal']

In [20]:
#4

friends = ['종국', '재석', '명수', '하하', '형돈']

print("friends = {}".format(friends))

friends = ['종국', '재석', '명수', '하하', '형돈']

In [21]:
#5

string = list("XYZ")

print("string = {}".format(string))

string = ['X', 'Y', 'Z']

### Lab 5-2

In [9]:
#1,2,3

prime_list = []

#소수를 리스트에 넣기
for i in range(2, 11):
    isPrime = True

    for j in range(2,i):
        if i%j == 0:
            isPrime = False        
                
    if isPrime:
        prime_list.append(i)

prime_len = len(prime_list)
print("prime_list의 첫 원소 : {}".format(prime_list[0]))
print("prime_list의 마지막 원소 : {}".format(prime_list[prime_len-1]))
print("prime_list의 마지막 원소 : {}".format(prime_list[-1]))

prime_list의 첫 원소 : 2
prime_list의 마지막 원소 : 7
prime_list의 마지막 원소 : 7

In [11]:
#4,5,6

nations= ['Korea', 'China', 'Russia', 'Malaysia']

nations_len = len(nations)

print("nations의 첫 원소: {}".format(nations[0]))
print("nations의 마지막 원소: {}".format(nations[nations_len-1]))
print("nations의 마지막 원소: {}".format(nations[-1]))

nations의 첫 원소: Korea
nations의 마지막 원소: Malaysia
nations의 마지막 원소: Malaysia

### Lab 5-3

In [14]:
#1,2

prime_list = []

#소수를 리스트에 넣기
for i in range(2, 11):
    isPrime = True

    for j in range(2,i):
        if i%j == 0:
            isPrime = False        
                
    if isPrime:
        prime_list.append(i)

print("소수 목록 : {}".format(prime_list))
prime_list.append(11)
print("추가 후 소수 목록 : {}".format(prime_list))

print("삭제 전 소수 목록 : {}".format(prime_list))
prime_list.remove(3)
print("삭제 후 소수 목록 : {}".format(prime_list))

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]
삭제 전 소수 목록 : [2, 3, 5, 7, 11]
삭제 후 소수 목록 : [2, 5, 7, 11]

In [24]:
#3,4

nations= ['Korea', 'China', 'Russia', 'Malaysia']

nations.append('Nepal')
print("국가 목록 : {}".format(nations))

if 'Japan' in nations :
    print("Japan 는(은) 국가 목록에 있습니다.")
else:
    print("Japan 는(은) 국가 목록에 없습니다.")
    
if 'Russia' in nations :
    print("Russia 는(은) 국가 목록에 있습니다.")
else:
    print("Russia 는(은) 국가 목록에 없습니다.")

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

### Lab 5-4

In [27]:
#1

prime_list = []

for i in range(2,11):
    isPrime = True
    
    for j in range(2,i):
        if i%j == 0:
            isPrime = False
    
    if isPrime:
        prime_list.append(i)
        
print(prime_list)
print("최솟값 : {}".format(min(prime_list)))
print("최댓값 : {}".format(max(prime_list)))
print("합계 : {}".format(sum(prime_list)))
print("평균 : {}".format(sum(prime_list)/len(prime_list)))

[2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [28]:
#2

nations= ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 : {}".format(nations))
print("사전에 가장 먼저 나오는 나라 : {}".format(min(nations)))
print("사전에 가장 뒤에 나오는 나라 : {}".format(max(nations)))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

### Lab 5-5

In [32]:
#1

a = [1, 2, 3]
b = [10, 20, 30]

a.append(b)
print(a)

a = [1, 2, 3]
b = [10, 20, 30]

a.extend(b)
print(a)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

In [40]:
#2,3,4,5

nlist = []
for i in range(1,11):
    nlist.append(i)
    
print("nlist = {}".format(nlist))
nlist.insert(0, 0)
print("nlist = {}".format(nlist))
nlist.reverse()
print("nlist = {}".format(nlist))

lastNum = nlist.pop()
print("마지막 원소 = {}".format(lastNum))
print("nlist = {}".format(nlist))

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Lab 5-6

In [41]:
#1

list = [1, 2, 3]
n = int(input("반복할 정수를 입력하시오 : "))

print(list * n)

반복할 정수를 입력하시오 : 3
[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Lab 5-7

In [46]:
#1

n_list = []
for i in range(15):
    n_list.append(i)
    
print("n_list : {}".format(n_list))

#2

s_list1 = n_list[0:5]
print("s_list1 : {}".format(s_list1))

s_list2 = n_list[5:11]
print("s_list2 : {}".format(s_list2))

s_list3 = n_list[11:15]
print("s_list3 : {}".format(s_list3))

s_list4 = n_list[2:11:2]
print("s_list4 : {}".format(s_list4))

s_list5 = n_list[10:5:-1]
print("s_list5 : {}".format(s_list5))

s_list6 = n_list[10:1:-2]
print("s_list6 : {}".format(s_list6))

n_list : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list1 : [0, 1, 2, 3, 4]
s_list2 : [5, 6, 7, 8, 9, 10]
s_list3 : [11, 12, 13, 14]
s_list4 : [2, 4, 6, 8, 10]
s_list5 : [10, 9, 8, 7, 6]
s_list6 : [10, 8, 6, 4, 2]

### Lab 6-1

In [52]:
#1

capital_dic = {'Korea':'Seoul', 
               'China':'Beijing', 
               'USA':'Washington DC'}

print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [53]:
#2

fruits_dic = {'apple' : 5000,
              'banana' : 4000,
              'grape' : 5300,
              'melon' : 6500}

print("{}의 가격은 {}원입니다. ".format('apple',fruits_dic['apple']))
print("{}의 가격은 {}원입니다. ".format('banana',fruits_dic['banana']))
print("{}의 가격은 {}원입니다. ".format('grape',fruits_dic['grape']))
print("{}의 가격은 {}원입니다. ".format('melon',fruits_dic['melon']))

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

### Lab 6-2

In [57]:
#1

person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['특기'] = '분신술'
print(person)

#2
person['아버지'] = '홍판서'
print(person)

#3
del person['나이']
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

### Lab 6-3

In [60]:
#1

capital_dic = {'Korea' : 'Seoul',
               'China' : 'Beijing',
               'USA' : 'Washington DC'}

print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

### 6-4

In [63]:
#1
fruits_dic = {'apple' : 6000, 
              'melon' : 3000, 
              'banana' : 5000, 
              'orange' : 7000}
#2
print(fruits_dic.keys())
#3
print(fruits_dic.values())
#4
fruits_dic.pop('apple')
#5
fruits_dic.clear()

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])

### 6-5

In [76]:
#1

List = []
fruits_dict = {'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange':4000}
keyList = fruits_dict.keys()
for i in keyList:
    List.append(i)
    
print(List)

['apple', 'melon', 'banana', 'orange']

In [79]:
#2

List = []
fruits_dict = {'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange':4000}
valueList = fruits_dict.values()
for i in valueList:
    List.append(i)
    
print(List)

[6000, 3000, 5000, 4000]

In [82]:
#3

fruits_dict = {'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange':4000}
n = len(fruits_dict)
print("fruits_dic 딕셔너리의 항목의 개수 : {}".format(n))

fruits_dic 딕셔너리의 항목의 개수 : 4

In [83]:
#4 

fruits_dict = {'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange':4000}

if 'apple' in fruits_dict:
    print("apple is in fruits_dic")
else:
    print("apple is not in fruits_dic")
    
if 'mango' in fruits_dict:
    print("mango is in fruits_dic")
else:
    print("mango is not in fruits_dic")

apple is in fruits_dic
mango is not in fruits_dic

### Lab 6-6

In [1]:
#1

the_day = (1919, 3, 1)
year = the_day[0]
month = the_day[1]
day = the_day[2]

print("{}년 {}월 {}일은 삼일절입니다.".format(year, month, day))

1919년 3월 1일은 삼일절입니다.

In [2]:
#2
exList = [10, 20, 30]
exTuple = tuple(exList)

a, b, c = exList

print("a = {}".format(a))
print("b = {}".format(b))
print("c = {}".format(c))

a = 10
b = 20
c = 30

### Lab 6-7

In [94]:
#1
person = ('홍길동', 2019001, 179)

#2
#TypeError: 'tuple' object does not support item assignment

#3
#pList = list(person)
# 주피터 노트북에서 list함수를 튜플이나 딕셔너리에 사용하면 TypeError: 'list' object is not callable 에러가 발생합니다.
# pList[1] = 2020003
# person = tuple(pList)
#print("학번 변동 후 person = {}".format(person))

TypeError: 'list' object is not callable

### Lab 6-9

In [92]:
#1

lst = ['apple', 'mango', 'banana']
s1 = set(lst)
print(s1)

{'banana', 'apple', 'mango'}

In [93]:
#2

greet = 'Good afternoon'
s2 = set(greet)
print(s2)

{'r', 'a', 'f', 'e', 't', 'n', 'G', 'o', ' ', 'd'}