### Lab10-1

In [2]:
def sub(x, y):
    return x - y

print('200 - 100 :', sub(200,100))

200 - 100 : 100

In [3]:
sub = lambda x, y: x - y
print('200 - 100 :', sub(200,100))

200 - 100 : 100

### Lab10-2

In [5]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_list = []
for a in filter(lambda x: x%2 == 0, n_list):
    even_list.append(a)
    
print(even_list)

[2, 4, 6, 8, 10]

In [10]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_list = []
for a in filter(lambda x: x%2 == 1, n_list):
    odd_list.append(a)
    
print(odd_list)

[1, 3, 5, 7, 9]

### Lab 10-3

In [12]:
a_list = ['a', 'b', 'c', 'd']

upper_list = []
upper_list = list(map(lambda x: x.upper(), a_list))

print(upper_list)

['A', 'B', 'C', 'D']

In [22]:
n_list = [10, 20, 30]

tw_ = list(map(lambda x: x*2, n_list))
print(tw_)

tri_ = list(map(lambda x: x*3, n_list))
print(tri_)

[20, 40, 60]
[30, 60, 90]

### Lab 10-4

In [15]:
from functools import reduce

a = []
for i in range(1, 101):
    a.append(i)

n = reduce(lambda x, y: x + y, a)
print('1에서 100까지의 합 :',n)

1에서 100까지의 합 : 5050

In [16]:
n = reduce(lambda x, y: x * y, range(1,11))
print('10! =', n)

10! = 3628800

### Lab 10-5

In [23]:
cubic = [x**3 for x in range(1, 11)]
print('cubic :', cubic)

cubic : [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [i[0] for i in a]
print('first_a :' ,first_a)

first_a : ['w', 't', 't', 'p', 'w']

### Lab 10-6

In [26]:
cubic = [x**3 for x in range(1,11) if x**3 <= 500]
print('cubic :', cubic)

cubic : [1, 8, 27, 64, 125, 216, 343]

In [28]:
st = 'Hello 1234 Python'
s_num = [x for x in st if x.isdigit()]
print(s_num)

['1', '2', '3', '4']

### Lab 10-7

In [35]:
class EvenCounter:
    def __init__(self, n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n <= 20:
            t = self.n
            self.n += 2
            return t
        
my_counter = EvenCounter()
print(my_counter.__next__(), end=' ')
print(my_counter.__next__(), end=' ')
print(my_counter.__next__(), end=' ')
print(my_counter.__next__(), end=' ')
print(my_counter.__next__(), end=' ')

0 2 4 6 8

In [38]:
class EvenCounter:
    def __init__(self, n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n <= 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration

my_counter = EvenCounter()
for x in my_counter:
    print(x, end= ' ')

0 2 4 6 8 10 12 14 16 18 20

### Lab 10-8

In [1]:
txt = 'Welcome to Busan Metropolitan '
txt.split()

['Welcome', 'to', 'Busan', 'Metropolitan']

In [2]:
greet = 'Hello, My name i DongMin,Good to see you again'
greet.split(',')

['Hello', ' My name i DongMin', 'Good to see you again']

In [3]:
fruits = 'Apple|Banana|Melon|Orange'
fruits.split('|')

['Apple', 'Banana', 'Melon', 'Orange']